<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        border-collapse: collapse;
        width: 80%;
    }
    th,td{
        border: 1px solid black;
        padding: 2px;
        text-align: center;
    }
#feature{
    color: red; 
}

#feature:hover{
    color: #ccc;
}

</style>
<body>
    
    <h2>Search query : {{search_query}} </h2>
    
    <table>
    
        <th><h3>S.No.</h3></th>
        <th><h1>News Title</h1></th>
        <th><h1>Url source</h1></th>
        <th><h1>Upload Date</h1></th>
        <th><h3>Featured</h3></th>

        {%for news in featured_news%}
    <tr>
        <td>{{news.featured_news.id }}</td>
        <td>{{news.featured_news.news_title}}</td>
        <td><a href="{{news.featured_news.news_source.page_url}}">{{news.featured_news.news_source.page_url}}</a></td>
        <td>{{news.featured_date}}</td>
        <td>
            <a href="/tool/unfeature/{{news.featured_news_id}}"><i id="feature" class="fa-solid fa-heart"></i></a>
        </td>
    </tr>   
    {%endfor%}
</table>
<script src="https://kit.fontawesome.com/785b157135.js" crossorigin="anonymous"></script>
</body>
</html>