<style>
    .tab-space{
        padding-left: 2em;
    }
</style>
<h1>This is the homepage</h1>
{%if user.is_authenticated%}
Welcome {{request.user}}
<br>
<p><a href="/tool/customize">Scrap tool here</a>
<span class="tab-space">
<a href="/logout">Logout</a></span></p>
{%if user.is_superuser%}
<p><span><a href="/tool/add_webpage">Add webportal</a></span>
<span><a href="/tool/webpage_list">View webportals</a></span></p>


{%endif%}
{%else%}
<a href="login">Sign in</a>
{%endif%}

{% if messages %}
<ul>
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}