{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
{%if user.is_authenticated%}
<body>
    <div class="index-container">

        <div class="header">
            <h1>Welcome to the Scrapping Tool</h1>
        </div>
<h2>Current user: {{request.user}}</h2>
<p>
    <hr>
    <div class="sub-heading">
        <h3>Scrapping Tool</h3>
    </div>
    <div class="button">
        <a href="/tool/customize">Scrap tool here</a>
    </div>
</p>
<hr>
{%if user.is_superuser%}
<p>
    <h3>Newsportal services</h3>
    <div class="button-block">

        <div class="button">
            <a href="/tool/add_webpage">Add webportal</a>
        </div>
        
        <div class="button">
            <a href="/tool/webpage_list">View webportals</a>
        </div>
    </div>
</p>
<hr>
<p>
    <h3>Newsheadline Datasets</h3>
    <div class="button">
        <a href="/tool/news_datahouse">View Scrapped News Database</a>
    </div>
</p>
<hr>
{%endif%}
<div class="button">
    <a href="/logout">Logout</a>
</div>
{%else%}
<div class="header">
    <h1>Login first to get access to the system</h1>
</div>
<div class="button">
    <a href="login">Sign in</a>
</div>
{%endif%}

{% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>
</body>
</html>