{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>

<div class="form-box">
<form class="form" method="post">
    {%csrf_token%}
    <span class="title">Login</span>
    <span class="subtitle">Enter your valid credentials to login.</span>
    <div class="form-container">
      <input type="text" class="input" name="username" placeholder="Username">
			<input type="password" name="password" class="input" placeholder="Password">
    </div>
    <button>Login</button>
</form>
<div class="form-section">
  <p>Do not have an account yet? <a href="/signup">Sign up</a> </p>
</div>
</div>
</body>
</html>


